venv/
.idea/
.vscode/
__pycache__/
src/configLocal.py
candles/
KZTRUB_TOM_results/
TRYRUB_TOM_results/
KZTRUB_TOM_results_test/

strategyResult/KZTRUB_TOM_corridors
strategyResult/TRYRUB_TOM_corridors
strategyResult/KZTRUB_TOM_threshold
strategyResult/KZTRUB_TOM_threshold_corridor
strategyResult/KZTRUB_TOM_threshold_corridor_up
strategyResult/TRYRUB_TOM_threshold
strategyResult/TRYRUB_TOM_threshold_corridor
strategyResult/TRYRUB_TOM_threshold_corridor_up
strategyResult/USD000UTSTOM_corridors
strategyResult/USD000UTSTOM_results
strategyResult/USD000UTSTOM_threshold
strategyResult/USD000UTSTOM_threshold_corridor
strategyResult/USD000UTSTOM_threshold_corridor_up

logs
stats

log_strategy_test.txt
log_strategy_test_1.txt
log_strategy_test_2.txt
log_strategy_test_3.txt